<div class="page-content">
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
      <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Basic forms</h2>
      </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Basic forms            </li>
      </ul>
    </div>
    <section class="no-padding-top">
      <div class="container-fluid">
        <div class="row">
          <!-- Basic Form-->
          <div class="col-lg-6">
            <div class="block">
              <div class="title"><strong class="d-block">Basic Form</strong><span class="d-block">Lorem ipsum dolor sit amet consectetur.</span></div>
              <div class="block-body">
                <form>
                  <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input type="email" placeholder="Email Address" class="form-control">
                  </div>
                  <div class="form-group">       
                    <label class="form-control-label">Password</label>
                    <input type="password" placeholder="Password" class="form-control">
                  </div>
                  <div class="form-group">       
                    <input type="submit" value="Signin" class="btn btn-primary">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Horizontal Form-->
          <div class="col-lg-6">
            <div class="block">
              <div class="title"><strong class="d-block">Horizontal Form</strong><span class="d-block">Lorem ipsum dolor sit amet consectetur.</span></div>
              <div class="block-body">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-sm-3 form-control-label">Email</label>
                    <div class="col-sm-9">
                      <input id="inputHorizontalSuccess" type="email" placeholder="Email Address" class="form-control form-control-success"><small class="form-text">Example help text that remains unchanged.</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 form-control-label">Password</label>
                    <div class="col-sm-9">
                      <input id="inputHorizontalWarning" type="password" placeholder="Pasword" class="form-control form-control-warning"><small class="form-text">Example help text that remains unchanged.</small>
                    </div>
                  </div>
                  <div class="form-group row">       
                    <div class="col-sm-9 offset-sm-3">
                      <input type="submit" value="Signin" class="btn btn-primary">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Inline Form-->
          <div class="col-lg-8">                           
            <div class="block">
              <div class="title"><strong>Inline Form</strong></div>
              <div class="block-body">
                <form class="form-inline">
                  <div class="form-group">
                    <label for="inlineFormInput" class="sr-only">Name</label>
                    <input id="inlineFormInput" type="text" placeholder="Jane Doe" class="mr-sm-3 form-control">
                  </div>
                  <div class="form-group">
                    <label for="inlineFormInputGroup" class="sr-only">Username</label>
                    <input id="inlineFormInputGroup" type="text" placeholder="Username" class="mr-sm-3 form-control form-control">
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Modal Form-->
          <div class="col-lg-4">
            <div class="block">
              <div class="title"><strong>Modal Form</strong></div>
              <div class="block-body text-center">
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Form in simple modal </button>
                <!-- Modal-->
                <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                  <div role="document" class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Signin Modal</strong>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                      </div>
                      <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <form>
                          <div class="form-group">
                            <label>Email</label>
                            <input type="email" placeholder="Email Address" class="form-control">
                          </div>
                          <div class="form-group">       
                            <label>Password</label>
                            <input type="password" placeholder="Password" class="form-control">
                          </div>
                          <div class="form-group">       
                            <input type="submit" value="Signin" class="btn btn-primary">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Form Elements -->